<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <commands>
            <command name="rlm:deletelist" type="RecipientListManagement.RecipientsLists.Lists.Actions.DeleteSelectedList,RecipientListManagement" />
            <command name="rlm:addsitecorelist" type="RecipientListManagement.RecipientsLists.Lists.Actions.AddSitecoreRoles.AddSitecoreRolesToSelectedListCommand,RecipientListManagement" />
            <command name="rlm:addcsvlist" type="RecipientListManagement.RecipientsLists.Lists.Creation.AddFromCSV.AddRecipientsFromCSVCommand,RecipientListManagement" />            
            <command name="rlm:createandimport" type="RecipientListManagement.RecipientsLists.Lists.Creation.CreateNewRecipientListFromCSVCommand,RecipientListManagement" />            
            <command name="rlm:createfromsitecoreroles" type="RecipientListManagement.RecipientsLists.Lists.Creation.CreateFromSitecoreRolesCommand,RecipientListManagement" />
            <command name="rlm:edituser" type="RecipientListManagement.RecipientsLists.Users.Actions.EditSelectedUser,RecipientListManagement" />
            <command name="rlm:createemptylist" type="RecipientListManagement.RecipientsLists.Lists.Creation.CreateEmptyListCommand,RecipientListManagement" />
            <command name="rlm:rename" type="RecipientListManagement.RecipientsLists.Lists.Actions.RenameSelectedListCommand,RecipientListManagement" />
            <command name="rlm:showvisits" type="RecipientListManagement.SubscriberActivity.Actions.ShowVisitsCommand,RecipientListManagement" />
        </commands>        
      <controlSources>
        <source mode="on" namespace="RecipientListManagement.RecipientsLists.Lists.Creation" folder="/sitecore modules/Shell/RecipientListManagement" deep="true" prefix="RecipientListManagement" />       
      </controlSources>
      <settings>
        <!-- these setting should correspond to the AnalyticsDataProvider setting in Sitecore.EmailCampaign.config -->
        <setting name="AnalyticsSqlDataGateway.CommandTimeout" value="90" />
      </settings>
    </sitecore>
</configuration>

